<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit = no">
    <title>Fake news detection</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1 id="logo">
                        <img src="../static/fakeNews.jpg" alt="" width="90px">
                        Fake News Detector!!
                    </h1>
                </div>
                <div class="col-4">
                    <ul id="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about" target="blank">About</a></li>
                        <li><a href="/contact" target="blank">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="about">
        <div id="aboutText">
            <h3>
                This project is given by the college authority.
            </h3>
            <br>
            <h4>
                These students have completed this project.
            </h4>
            <div id="students">
                <div class="row">
                    <div class="col-3">
                        <img src="../static/Prince.jpeg" alt="here is an image" width="140">
                        <br>
                        Prince Raj
                    </div>
                    <div class="col-3">
                        <img src="../static/Saurabh.jpg" alt="here is an image" width="150">
                        <br>
                        Saurabh Kumar Singh
                    </div>
                    <div class="col-3">
                        <img src="../static/Prem.jpeg" alt="here is an image" width="177">
                        <br>
                        Prem Mishra
                    </div>
                    <div class="col-3">
                        <img src="../static/Ayan.jpeg" alt="here is an image" width="150">
                        <br>
                        Ayan Patwari
                    </div>
                </div>
                <br><br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-6"> &copy 2021 All rights reserved</div>
            </div>
        </div>
    </div>
</body>

</html>